
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/
pip-wheel-metadata/
*.egg-info/
dist/
docker/
*.csv
*.pdf
opensearch/
.idea/


# OS
.DS_Store

# Env
.env
.env.*

# Pytest
.cache/

# Jupyter
.ipynb_checkpoints

# Docker
docker-compose.override.yml

# Local data / experiments
/mnt/data/
experiments/results/
datasets/*.parquet
docker
